<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">OPENCLASSROOMS</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">L'entreprise</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Alternance</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Financement</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Forum</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Blog</a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">ENTREPRISES</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">Employeurs</a>
                        </p>
                    </li>
                </ul>
                <h5 class="font-weight-bold text-uppercase mb-4">CONTACTS</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">Employeurs</a>
                        </p>
                    </li>
                    <div class="row">
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="{{ 'assets/images/call.svg' | relative_url }}"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="{{ 'assets/images/email.svg' | relative_url}}"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/faq.svg"></img>
                        </a>
                    </div>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <h5 class="font-weight-bold text-uppercase mb-4">EN PLUS</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">Nous rejoindre</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Devenez mentor</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Conditions générales d'utilisation</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Politique de Protection des données personnelles</a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 col-lg-3 text-center mx-auto my-4">
                <div class="container">
                    <select class="mdb-select md-form">
                        <option value="" disabled selected>Français</option>
                        <option value="1">Français</option>
                        <option value="2">Anglais</option>
                      </select>
                    <div class="row">
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/facebook.svg"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/twitter.svg"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/linkedin.svg"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/instagram.svg"></img>
                        </a>
                        <a class="navbar-brand" href="#">
                            <img class="svg p-1" src="assets/images/youtube.svg"></img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>