
  <div class="nav-b container-fluid">
      <div class="row-b row w-100">
          <span class="navbar-text text-white">
              Etudiez en ligne et obtenez un diplôme reconnu par l’Etat. 100% financé par Pôle emploi.
          </span>
          <button class="btn navbar-btn text-white"><strong>DECOUVRIR</strong></button>
      </div>
  </div>

<div class="nav container-fluid">
  <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html">
              <img src="assets/images/logo.png" alt="openclassroom logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navbarContent" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Parcours</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="cours.html">Cours</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Alternance</a>
                  </li>
                  <div class="border ml-2"></div>
                  <li class="nav-item active">
                      <a class="nav-link ml-2" href="#">Business</a>
                  </li>
              </ul>
              <a class="navbar-brand" href="#">
                  <img src="assets/images/loupe.svg" alt="loupe" width="25px">
              </a>
              <button class="bouton-connect btn ml-2"><strong>SE CONNECTER</strong></button>
              <button class="bouton-submit btn ml-2" type="submit"><strong>S'INSCRIRE</strong></button>
          </div>
      </nav>
  </div>
</div>